<!--
    usuario
    {
        _id:376547346573654khfkfdh
        name:'john',
        username:'joancevallos',
        password:'12345'
    }

    POST https://localhost:3000/usuarioForm/usuario/operar
    - crear
    - modificar
-->
<div class="container">
    <br/>
    <form action="/usuarioForm/usuario/operar" method="POST">
        <input type="hidden" name="_id" value="{{usuario._id}}">
        <div class="form-group">
            <label for="name">Name:</label>
            <input type="text" class="form-control" id="name" name="name" value="{{usuario.name}}" >
        </div>
        <div class="form-group">
            <label for="name">User Name:</label>
            <input type="text" class="form-control" id="username" name="username" value="{{usuario.username}}" >
        </div>
        <div class="form-group">
            <label for="name">Password:</label>
            <input type="text" class="form-control" id="password" name="password" value="{{usuario.password}}" >
        </div>
        <button type="submit" class="btn btn-primary">Aceptar</button>
        <a href="/" class="btn btn-danger">Cancelar</a>

    </form>
</div>