
{% extends "base.html" %}

{% block titulo  %}
    Anuncios : {{ anuncio.titulo }} 
{% endblock %}

{% block contenido_principal %}
    <h1 class="uk-article-title">{{ anuncio.titulo }} </h1>
    <div class="uk-grid uk-margin">
       <!-- Ocupa 1 de 1-->
       <div class="uk-width-1-1 ">
           <div class="uk-panel uk-panel-box">
                <p>{{ anuncio.descripcion }}</p>
                <img src="/images/{{ anuncio._id.toString()}}-1.jpg" >
           </div>
       </div>
    </div>
       
{% endblock %}

{% block scripts  %}
    <script>
        $(function() {
            $("#nav_{{ anuncio.categoria }} " ).addClass("uk-active");
            $("#off_{{ anuncio.categoria }} " ).addClass("uk-active");
        });
    </script>
{% endblock %}
