<!DOCTYPE html>
<html lang="es" dir="ltr">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block titulo %} Anuncios {% endblock %}</title>
        <link id="data-uikit-theme" rel="stylesheet" href="./public/stylesheets/uikit.min.css">
        <link rel="stylesheet" href="./public/stylesheets/docs.css">
        <script src="./public/jquery/jquery.js"></script>
        <script src="./public/javascripts/uikit.js"></script>
        {% block scripts %} 
        {% endblock %}
    </head>

    <body class="tm-background">				
        <nav class="tm-navbar">
           {% if usuario %}
                <div class="uk-navbar-flip" style="margin-right: 2rem;">
                     <div class="uk-panel uk-panel-box">
                        <a class="uk-button" href="/logout">Desconectar</a>
                     </div>
                 </div>
            {% endif %}

            <div class="uk-container">
                <!-- logo principal -->
                <!-- propiedad: uk-hidden-small , quitar en pantalla de móvil -->
                <a class="uk-navbar-brand uk-hidden-small" style="pointer-events: none;" href="">
                    <img class="uk-margin uk-margin-remove" src="/images/logo.png" width="104" height="42" title="Logo Anuncios" alt="Logo Anuncios">
                </a>
                <!-- Opción de menú en la Navbar, se esconde en pantallas pequeñas -->
                <!-- propiedad: uk-hidden-small , quitar en pantalla de móvil -->
                <ul class="uk-navbar-nav uk-hidden-small">
                    <li id="nav_publicar"><a href="/anuncios/publicar">Publicar</a></li> <!-- propiedad li class="uk-active" para enlace activo -->
                    <li id="nav_misanuncios"><a href="/anuncios/misanuncios">Modificar</a></li>
                   <!-- <li id="nav_favoritos"><a href="/anuncios/favoritos">Favoritos</a></li>-->
                </ul>

                <!-- Alternativa: Lo que aparece en el navbar en pantallas pequeñas (moviles) -->
                <!-- Importante: El menú movil se está definiendo al final de la página: uk-offcanvas-bar -->
                <a href="#tm-offcanvas" class="uk-navbar-toggle uk-visible-small" data-uk-offcanvas></a>
                <div class="uk-navbar-brand uk-navbar-center uk-visible-small">
                    <!-- El logo hay que quitarlo, porque de lo contrario aparece en 1º posición -->
                    <img src="/images/logo.png" width="104" height="42" title="Logo Anuncios" alt="Logo Anuncios">
                </div>
            </div>
        </nav>

    <!-- uk-block-muted : color claro -->
    <div class="uk-block uk-block-muted">
        <div class="uk-grid">
            <!-- tm-sidebar : barra lateral -->
            <!-- Especifica cuando ocupa para diferentes pantallas "uk-width-medium-1-2 uk-width-large-1-3" -->
            <div class="tm-sidebar uk-width-medium-1-4 uk-hidden-small">
                <ul class="tm-nav uk-nav">
                    <li class="uk-nav-header">Categorías</li>
                    <!-- usar li class="uk-active" para el elemento activo -->
                    <li id="nav_motor"><a href="/anuncios/categoria/motor">Motor</a></li>
                    <li id="nav_inmobiliaria"><a href="/anuncios/categoria/inmobiliaria">Inmobiliaria</a></li>
                </ul>
            </div>
            <!-- tm-main : contenido principal -->
            <!-- Podemos especificar el ancho para 4 resoluciones = large, medium, small o solo para medium y el resto lo "infiere" -->
            <div class="tm-main uk-width-medium-3-4  uk-width-small-4-4">
                <!-- Otro panel : bloque de contenido -->
                <div class="uk-panel uk-panel-box">
                    <!-- aticle : dentro de contenido -->  
                    <article class="uk-article">
                        {% block contenido_principal %}
                            
                        {% endblock %}
                    </article>
                </div>
            </div>
        </div>
    </div>

    <!-- Pie de página -->
    <div class="tm-footer">
        <div class="uk-panel uk-text-center">
            {% block pie %}
            <p>Diseño de interfaces de usuario</p>
            {% endblock %}
        </div>
    </div>
		
    <!-- Menú parte izquierda / en modo móvil -->
    <div id="tm-offcanvas" class="uk-offcanvas">
        <div class="uk-offcanvas-bar">
            <ul class="uk-nav uk-nav-offcanvas">
                <li class="uk-nav-header">Principal</li>
                <li id="off_publicar"><a href="/anuncios/publicar">Publicar</a></li> <!-- propiedad li class="uk-active" para enlace activo -->
                <li id="off_modificar"><a href="/anuncios/misanuncios">Mis anuncios</a></li>
                <li class="uk-nav-header">Categorías</li>
                <!-- usar li class="uk-active" para el elemento activo -->
                <li id="off_motor"><a href="/anuncios/categoria/motor">Motor</a></li>
                <li id="off_inmobiliaria"><a href="/anuncios/categoria/inmobiliaria">Inmobiliaria</a></li>
            </ul>
        </div>
    </div>
        
  </body>
</html>
