{% extends "base.html" %}

{% block titulo  %}
Categoría {{ nombre_categoria }}
{% endblock %}

{% block contenido_principal %}
<h1 class="uk-article-title">{{ nombre_categoria }} </h1>
<h2 class="tm-article-subtitle">Elementos destacados en {{ nombre_categoria }}.</h2>
<div class="uk-grid uk-margin">
    {% for anuncio in anuncios %}
    <!-- Miniatura de anuncio, en 1 o 2 columnas -->
    <div class="uk-width-medium-1-1 uk-width-large-1-2">
        <a href="/anuncio/{{ anuncio._id.toString()}}">
            <div class="uk-panel uk-panel-box">

                <!-- dentro de cada anuncio 2 columnas siempre -->
                <div class="uk-grid uk-margin">
                    <!-- Columna 1 : foto -->
                    <div class="uk-width-1-2">
                        <img src="/images/{{ anuncio._id.toString()}}-1.jpg">
                    </div>
                    <!-- Columna 2 : datos -->
                    <div class="uk-width-1-2">
                        <!-- uk-text-center para centrar texto -->
                        <h3 class="uk-panel-title uk-text-truncate">
                            {{ anuncio.titulo }}
                        </h3>
                        <!-- Cortar texto -->
                        <p>{{ anuncio.descripcion }}</p>
                        <p class="uk-text-bold uk-text-center">
                            12000 €
                        </p>
                    </div>
                </div>
            </div>
        </a>
    </div>
    {% endfor %}
</div>

{% endblock %}

{% block scripts  %}
<script>
    $(function () {
        $("#nav_{{ nombre_categoria }} ").addClass("uk-active");
        $("#off_{{ nombre_categoria }} ").addClass("uk-active");
    });
</script>
{% endblock %}
