
{% extends "base.html" %}

{% block titulo  %}
    Identificación de usuario
{% endblock %}

{% block contenido_principal %}
<div class="uk-text-center uk-container-center" style="width: 300px;">
    <img class="uk-margin-bottom" src="/images/login.png" alt="">

    {% if error %}
        <div class="uk-alert uk-alert-danger">
            El usuario y la contraseña no coinciden
        </div>
    {% endif %}

    
    
    <form method="post" action="/login" class="uk-panel uk-panel-box uk-form">

        <div class="uk-form-row">
            <input class="uk-width-1-1 uk-form-large" type="email" 
                   name="email" placeholder="Email" required>
        </div>
        <div class="uk-form-row">
            <input class="uk-width-1-1 uk-form-large" type="password" 
                   name="password" placeholder="Contraseña" required>
        </div>
        <div class="uk-form-row">
            <button 
                class="uk-width-1-1 uk-button uk-button-primary uk-button-large"  
                type="submit">Identificate</button>
        </div>
        <div class="uk-form-row">
            <a class="uk-float-left" href="/registro">
                Regístrate</a>
            <a class="uk-float-right" href="#">
                Recordar contraseña</a>
        </div>

    </form>
</div>
{% endblock %}
