{% extends "base.html" %}

{% block titulo  %}
    {{ mensaje }}
{% endblock %}

{% block contenido_principal %}
     <h1 class="uk-article-title">Notificación </h1>
     <h2 class="tm-article-subtitle"> {{ mensaje }}</h2>
{% endblock %}
