{% extends "base.html" %}

{% block titulo  %}
    Mis anuncios 
{% endblock %}

{% block contenido_principal %}
    <h1 class="uk-article-title">Mis anuncios </h1>
    <h2 class="tm-article-subtitle">Lista de anuncios publicados por mí.</h2>
    <div class="uk-grid uk-margin">
     {% for anuncio in anuncios %}
       <!-- Miniatura de anuncio, en 1 o 2 columnas -->
       <div class="uk-width-1-1">
           <div class="uk-panel uk-panel-box">

               <!-- dentro de cada anuncio 2 columnas siempre -->
               <div class="uk-grid uk-margin">
                   <!-- Columna 1 : foto -->
                   <div class="uk-width-1-3">
                       <img src="/images/{{ anuncio._id.toString()}}-1.jpg" >
                   </div>
                   <!-- Columna 2 : datos -->
                   <div class="uk-width-2-3">
                       <!-- uk-text-center para centrar texto -->
                       <h3 class="uk-panel-title uk-text-truncate">
                           {{ anuncio.titulo }}
                       </h3>
                       <!-- Cortar texto -->
                       <p>{{ anuncio.descripcion }}</p>
                       <p class="uk-text-bold uk-text-center">
                            12000 €
                       </p>
                       <div class="uk-panel-badge">
                            <a href="/anuncios/modificar/{{ anuncio._id.toString()}}"
                               class="uk-button">Modificar</a>
                            <a href="/anuncios/eliminar/{{ anuncio._id.toString()}}" 
                               class="uk-button uk-button-danger">Eliminar</a>
                       </div>
                   </div>
               </div>
           </div>
       </div>
      {% endfor %}
    </div>
       
{% endblock %}

{% block scripts  %}
    <script>
        $(function() {
            $("#nav_misanuncios" ).addClass("uk-active");
            $("#off_misanuncios" ).addClass("uk-active");
        });
    </script>
{% endblock %}
