{% extends "base.html" %}

{% block titulo  %}
Modificar anuncio
{% endblock %}

{% block contenido_principal %}
<h1 class="uk-article-title">Modificar anuncio</h1>
<h2 class="tm-article-subtitle">Modifica la información del anuncio</h2>
<form action="/anuncios/modificar/{{ anuncio._id.toString()}}" class="uk-form uk-form-horizontal"
      encType="multipart/form-data" method="post">
    <div class="uk-form-row">
        <label class="uk-form-label" for="titulo">Título</label>
        <div class="uk-form-controls">
            <input id="titulo" name="titulo" placeholder="Título"
                   required
                   type="text" value="{{ anuncio.titulo }}">
        </div>
    </div>
    <div class="uk-form-row">
        <label class="uk-form-label" for="categoria">Categoría</label>
        <div class="uk-form-controls">
            <select id="categoria" name="categoria" required>
                <option value="motor">Motor</option>
                <option value="inmobiliaria">Inmobiliaria</option>
            </select>
        </div>
        <!-- Ponerle valor al select de categoría -->
        <script>
            document.getElementById('categoria').value = "{{ anuncio.categoria}}";
        </script>
    </div>
    <div class="uk-form-row">
        <label class="uk-form-label" for="descripcion">Descripción</label>
        <div class="uk-form-controls">
            <textarea id="descripcion" name="descripcion"
                      placeholder="Descripcion"
                      required
                      style="margin: 0px; height: 110px; width: 300px;">{{ anuncio.descripcion }}</textarea>
        </div>
    </div>
    <div class="uk-form-row">
        <label class="uk-form-label" for="imagen">Fotografía</label>
        <div class="uk-form-controls">
            <input accept=".jpg" id="imagen" name="imagen" type="file">
        </div>
        <div class="uk-form-controls">
            <img src="/images/{{ anuncio._id.toString()}}-1.jpg"
                 style="width: 300px;">
        </div>
    </div>
    <div class="uk-form-row">
        <div class="uk-form-controls">
            <button class="uk-button uk-button-primary uk-button-large"
                    type="submit">Modificar
            </button>
        </div>
    </div>

</form>

{% endblock %}

{% block scripts  %}
<script>
    $(function () {
        $("#nav_misanuncios").addClass("uk-active");
        $("#off_misanuncios").addClass("uk-active");
    });
</script>
{% endblock %}
