
{% extends "base.html" %}

{% block titulo  %}
    Publicar anuncio
{% endblock %}

{% block contenido_principal %}
<h1 class="uk-article-title">Publicar anuncio</h1>
<h2 class="tm-article-subtitle">Introduce la información del anuncio</h2>
<form method="post" action="/anuncios/publicar" class="uk-form uk-form-horizontal" encType="multipart/form-data" >
    <div class="uk-form-row">
        <label class="uk-form-label" for="titulo">Título</label>
        <div class="uk-form-controls">
            <input name="titulo" type="text" id="titulo" 
                   placeholder="Título" required>
        </div>
    </div>
    <div class="uk-form-row">
        <label class="uk-form-label" for="categoria">Categoría</label>
        <div class="uk-form-controls">
            <select name="categoria" id="categoria" required>
                <option value="motor">Motor</option>
                <option value="inmobiliaria">Inmobiliaria</option>
            </select>
        </div>
    </div>
    <div class="uk-form-row">
        <label class="uk-form-label" for="descripcion">Descripción</label>
        <div class="uk-form-controls">
            <textarea name="descripcion" id="descripcion"
                      placeholder="Descripcion" 
                      style="margin: 0px; height: 110px; width: 300px;" required></textarea>
        </div>
    </div>
    <div class="uk-form-row">
        <label class="uk-form-label" for="imagen">Fotografía</label>
        <div class="uk-form-controls">
            <input name="imagen" type="file" id="imagen" accept=".jpg" required>
        </div>
    </div>
    <div class="uk-form-row">
        <div class="uk-form-controls">
            <button class="uk-button uk-button-primary uk-button-large"  
                    type="submit">Publicar</button>
        </div>
    </div>

</form>

{% endblock %}

{% block scripts  %}
    <script>
        $(function() {
            $("#nav_publicar" ).addClass("uk-active");
        });
    </script>
{% endblock %}
