{% extends "base.html" %}

{% block titulo  %}
Registro de usuario
{% endblock %}

{% block contenido_principal %}
<h1 class="uk-article-title">Registro de usuario</h1>
<h2 class="tm-article-subtitle">
    Introduce la información de registro para crear un nuevo usuario
</h2>
<form action="/usuario" class="uk-form uk-form-horizontal" encType="multipart/form-data"
      method="post">
    <div class="uk-form-row">
        <label class="uk-form-label" for="nombre">Nombre</label>
        <div class="uk-form-controls">
            <input id="nombre" name="nombre" placeholder="Mi nombre"
                   required type="text">
        </div>
    </div>
    <div class="uk-form-row">
        <label class="uk-form-label" for="email">Email</label>
        <div class="uk-form-controls">
            <input id="email" name="email" placeholder="email@email.com"
                   required type="email">
        </div>
    </div>
    <div class="uk-form-row">
        <label class="uk-form-label" for="password">Contraseña</label>
        <div class="uk-form-controls">
            <input id="password" name="password" placeholder=""
                   required type="password">
        </div>
    </div>
    <div class="uk-form-row">
        <div class="uk-form-controls">
            <button class="uk-button uk-button-primary uk-button-large"
                    type="submit">Registrarse
            </button>
        </div>
    </div>
</form>
{% endblock %}
