<div class="container">      
    <div class="row">
    <br>
    <a href="/usuario/nuevo" class="btn btn-primary">Nuevo</a>
      <table class="table table-striped">
        <thead>
        <tr>
            <th>Name</th>
            <th>user</th>
            <th>Password</th>
            <th colspan="2">Operación</th>
        </tr>
        </thead>
        {{#each usuarios}}
          <tr>
            <td>{{this.name}}</td> 
            <td>{{this.username}}</td>
            <td>{{this.password}}</td>
            <td><a href="/usuario/modificar/{{this._id}}">Modificar</a></td> 
            <td><a href="/usuario/eliminar/{{this._id}}">Eliminar</a></td> 
          </tr>          
       {{/each}}   
      </table>
    </div>
</div>
